#landing-div
  %p.logo Blaze
  %p Trail log for hiking, running, or biking

  #index-login
    .row
      .small-6.columns
        = link_to "Sign In", new_user_session_path, class: "button radius right"
      .small-6.columns
        = link_to "Sign Up", new_user_registration_path, class: "button radius left"
