/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require jquery.ui.datepicker
 */

@import "foundation_and_overrides";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);
$light-color: #f7f6c9;
$dark-color: #264a4f;
$medium-blue: #5b827c;
$medium-green: #a3c2a2;
$red-color: #d17659;
$logo-text-shadow: 1px 3px 12px rgba(0,0,0,0.7);

body {
  //background-image: image-url('sandpaper.png');
  background: $light-color -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.2)));
}

.clearfix:after {
   content: ".";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

#bg-image {
  background-image: image-url('samplebg.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

a {
  color: green;
}

.alert, .notice {
  margin-top: 2%;
  @extend .radius;
}

.logo {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 6em;
  color: $red-color;
  text-shadow: $logo-text-shadow;
}

.logo-2 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-size: 3em;
  color: rgb(245,245,245);
  text-shadow: $logo-text-shadow;
}

.nav {
  margin-top: 5%;
}

.button {
  @extend .tiny;
  @extend .success;
  @extend .radius;
  background: $dark-color;
}

.entry-roll{
  height: 35em;
  overflow-x: scroll;
  background: rgba(91,130,124,0.2);
  border-radius: 10px;
  padding: 3%;
}

.entry {
  border-radius: 10px;
  background: rgba(91,130,124,0.5);
  margin-bottom: 2%;
  padding: 4%;
  .button {
    margin-top: 2%;
    margin-bottom: 0px;
  }
}

.attachment {
  float: left;
  margin-right: 2%;
  border: 2px solid $dark-color
}
