/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 *= require jquery.ui.datepicker
 */

@import "foundation_and_overrides";
@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700);

body {
  background-image: image-url('sandpaper.png');
}

#bg-image {
  background-image: image-url('samplebg.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

a {
  color: green;
}

.alert, .notice {
  margin-top: 2%;
  @extend .radius;
}

.logo {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}
.button {
  @extend .tiny;
  @extend .radius;
  @extend .success;
}
